
.trendingContainer {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.trendingSlider {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-x: scroll;
}

.minicards {
    height: 120px;
    min-width: 200px;
    margin: 15px;
    border: 1px solid black; 
    text-align: center;

}



