@import "/globals.css";

@font-face {
  font-family: "Naruto";
  src: url("../../public/assets/fonts/naruto.ttf");
}

.mobileView {
  display: block;
}

.largeView {
  display: none;
}

.navigationOpen {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 8%;
  right: 30px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
  transition-duration: 0.5s;
  border-radius: 4px;
  padding-left: 1px;
}

.sidebar {
  height: 300px;
  position: fixed;
  border-radius: 3px;
  transition: ease-in-out;
  transition-duration: 0.2s;
  color: white;
  overflow: hidden;
  background-image: url("../../public/assets/images/brush.png");
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.topSidebar {
  height: 300px;
  top: 10%;
  left: 0px;
  font-family: "Naruto";
  overflow: hidden;
  background-position-x: -720px;
}

.botSidebar {
  bottom: 10%;
  right: 0px;
  background-position-x: -40px;
  text-align-last: left;
  font-size: 1rem;
  font-family: Naruto;
}

.outerLinkBox {
  height: 150px;
  width: 400px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: absolute;
  right: -55px;
  padding-left: 40px;
  padding-right: 60px;
  border-radius: 50px;
}

.innerLinkBox {
  height: 100px;
  width: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 20px 0px 20px;
}

.navLink {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: black;
  padding: 5px;
  border-radius: 2px;
  background-image: url("../../public/assets/images/WBrush.png");
  background-size: cover;
  background-position: center;
}

.open {
  width: 100%;
}

.closed {
  width: 0px;
  background-position-x: 300px;
}

.blurrArea {
  width: 110vw;
  height: 110vh;
  top: -3px;
  left: -3px;
  position: fixed;
  background: rgb(33, 33, 33, 0.8);
}

@media only screen and (min-width: 500px) {
  .mobileView {
    display: none;
  }

  .largeView {
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
  }

  .largeTopBar {
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    background: transparent;
  }

  .contactLink {
    font-family: Naruto;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    color: rgb(212, 211, 211);
  }

  .logoContainer {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-bottom-right-radius: 10px;
  }

  .navHead {
    width: 65px;
    height: 60px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid white;
    cursor: pointer;
  }

  .brushContainer {
    width: 50px;
    height: 50px;
    background-image: url("../../public/assets/images/brushCircle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 15px;
    cursor: pointer;
  }

  .legalLink {
    font-family: Naruto;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    padding: 25px;
    color: rgb(212, 211, 211);
    position: absolute;
    display: flex;
    align-self: flex-end;
    right: 0px;
  }

  .outerLinkBox {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    overflow: visible;
    right: 0px;
    border-radius: 0px;
  }

  .innerLinkBox {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 100px 0px 100px 0px;
    right: 1px;
  }

  .innerLinkBox::-webkit-scrollbar {
    display: none;
  }

  .navLink {
    width: 650px;
    height: 250px;
    font-family: Naruto;
    background-image: none;
    background-size: cover;
    background-position: center;
    font-size: 2.5rem;
    color: rgb(212, 211, 211);
  }

  .navigationMenu {
    width: 100vw;
    height: 100vh;
    transition: ease-in-out;
    transition-duration: 0.3s;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
  }

  .closedMenu {
    right: -100vw;
    top: 0px;
  }

  .openMenu {
    right: -0px;
    top: 0px;
  }

  .closeButton {
    width: 50px;
    height: 50px;
    float: right;
    color: white;
    font-family: Naruto;
    font-size: 2.5rem;
    margin: 5px;
    cursor: pointer;
    position: relative;
  }
}
